@font-face {
  font-family: "Exo2.0-Thin";
  src: url("/fonts/Exo2.0-Thin.otf") format("opentype");
}
.container{
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}
.app__header{
  text-align: center;
  width: 100%;
}
.app__title{
  font-family: "Exo2.0-Thin";
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  line-height: 3.3rem;
  letter-spacing: 0.06em;
}
.column-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .container{
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .container{
    padding: 0 15px;
    justify-content: space-around;
  }
  .column-container{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .column-container{
    width: 100%;
  }
  .app__title{
    line-height: 2rem;
  }
}
@media (max-width: 400px) {
  .container{
    min-width: 280px;
  }
  .app__title{
    font-size: 1.8rem;
  }
}