.product{
    width: 312px;
    height: 474px;
    position: relative;
    background: linear-gradient(135deg, transparent 30px, #fff 0);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2px 0 0 42px;
    margin: 0 4px 0 4px;
    user-select: none;
    -webkit-tap-highlight-color: transparent !important; 
    -webkit-focus-ring-color: transparent !important; 
    outline: none !important;
}
.product:active{
    outline: none;
}
.product:hover{
    cursor: pointer;
}
.product::before{ /*решение выбрано для блока disabled*/
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    background: url('/img/cat-bg.png') no-repeat bottom left;
    border-radius: 8px;
}
.product::after{
    content: '';
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: 100%;
    height: 100%;
    padding: 2px 2px;
    border: 4px solid #1698d9;
    border-top: none; 
    border-left: none;
    border-radius: 10px; 
    background: linear-gradient(135deg, transparent 32px, #1698d9 0);
    z-index: -1;
}
.product__subtitle{
    margin: 15px 0 0 0;
}
.product__title{
    margin: 4px 0 0 0;
    font-size: 3rem;
}
.product__filling{
    font-size: 1.5rem;
    margin: 0;
}
.product__info{
    display: flex;
    flex-direction: column;
    font-size: 0.86rem;
    padding: 0px 0 0 0;
    color: #666666;
}
.product__size_strong{
    font-weight: bold;
}
.product__gift_strong{
    font-weight: bold;
}
.product__weight{
    position: absolute;
    background: #1698d9;
    width: 80px;
    height: 80px;
    bottom: 14px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; /*IE11*/
}
.product__count{
    color: #fff;
    margin: 0 auto;
    font-size: 2.5rem;
}
.product__units{
    color: #fff;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 0.9rem;
}
.product__buy-text{
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 5px;
}
.product__buy-link{
    color: #2ea8e6;
    text-decoration: none;
}
.product__buy-link_underline-dashed{
    border-bottom: 1px dashed #2ea8e6;
}
/*Hovered modificator*/
.product_hovered::after{
    background: linear-gradient(135deg, transparent 32px, #2ea8e6 0);
    border-color: #2ea8e6;
}
.product_hovered > .product__weight{
    background: #2ea8e6;
}
/*Selected modificator*/
.product_selected::after{
    background: linear-gradient(135deg, transparent 32px, #d91667 0);
    border-color: #d91667;
}
.product_selected > .product__weight{
    background: #d91667;
}
/*select and hover*/
.product_selected.product_hovered::after{
    background: linear-gradient(135deg, transparent 32px, #e62e7a 0) ;
    border-color: #e62e7a ;
}
.product_selected.product_hovered > .product__weight{
    background: #e62e7a;
}
/*Disabled modificator*/
.product_disabled:hover{
    cursor: not-allowed;
}
.product_disabled::after{
    background: linear-gradient(135deg, transparent 32px, #b3b3b3 0);
    border-color: #b3b3b3;
}
.product_disabled::before{
    opacity: 0.5;
}
.product_disabled{
    color: #d4d4d4;
}
.product_disabled > .product__info{
    color: #d4d4d4;
}
.product_disabled > .product__weight{
    background: #b3b3b3;
}
.product_disabled + .product__buy-text{
    color: #ffff66;
}
@media (max-width: 400px) {
    .product{
        width: 100%;
        max-width: 300px;
    }
}
