body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5) 0%,rgba(255,255,255, 0) 50%, rgba(0,0,0, 0.5) 100%), url('/img/bg-pattern.png');
}